<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in your name and your friend's name to create your custom greeting!</h1>
    <form action='/madlibs_form'>
      <div class='form-group'>
            <label for='person'>A name</label>
            <input id='person' class='form-control' type='text' name='person'>
      </div>
      <div class='form-group'>
      <label for='personTwo'>Another name</label>
        <input id='personTwo' name='personTwo' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='animal'>An animal</label>
        <input id='animal' name='animal' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='verb'>A past tense verb</label>
        <input id='verb' name='verb' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='noun'>A noun</label>
        <input id='noun' name='noun' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='noun'>An Expression</label>
        <input id='expression' name='expression' class='form-control' type='text'>
      </div>
      <button type='submit' class='btn'>Show me the story!</button>
  </form>
  </body>
</html>
